/* board.component.scss */
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 4px;
  }

  .cell {
    border: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease-in-out;
    border-radius: 15%;
  }

  .cell.snake-ladder {
    background-color: #f0f0f0;
  }

  .app-player {
    width: 100%;
    height: 100%;
  }

  .Player-1 {
    width: 100%;
    height: 100%;
    background-color: rgb(37, 99, 214);
    border-radius: 15%;
  }

  .Player-2 {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 39, 39);
    border-radius: 15%;
  }

  .Player-3 {
    width: 100%;
    height: 100%;
    background-color: rgb(236, 236, 29);
    border-radius: 15%;
  }

  .Player-4 {
    width: 100%;
    height: 100%;
    background-color: rgb(55, 241, 26);
    border-radius: 15%;
  }
  .dice {
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }

  .dice-roll-animation {
    animation: rollAnimation 0.5s ease-out;
  }

  @keyframes rollAnimation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(180deg);
    }
    50% {
      transform: rotate(360deg);
    }
    75% {
      transform: rotate(540deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
}
/* dice.component.scss */
button {
  padding: 8px;
  font-size: 18px;
  color: #fff;
  background-color: #4caf50; /* Green */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #45a049; /* Darker Green on hover */
  }

  &:disabled {
    background-color: #ccc; /* Grey when disabled */
    cursor: not-allowed;
  }
}

.arrows {
  position: absolute;
  top: 0;
  left: 0;
}

/* board.component.scss */
.player-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.player-icon img {
  max-width: 100%;
  max-height: 100%;
}

.destination-cell {
  width: 8px;
  height: 8px;
  color: red;
}
/* board.component.scss */
.roll-container {
  display: flex;
  align-items: center;
}

.current-player-icon {
  margin-left: 20px;
}
